In [3]:
#nested loops
n=int(input("enter the size of n"))
for i in range(n):
    for j in range(n):
        print('^',end=' ')
    print()

enter the size of n 4

^ ^ ^ ^
^ ^ ^ ^
^ ^ ^ ^
^ ^ ^ ^

In [5]:
# right angle triangle
n=int(input())
for i in range(n):
    for j in range(i):
        print('*',end=' ')
    print()

 6

*
* *
* * *
* * * *
* * * * *

In [9]:
# right angle triangle using single for loop
for i in range(5):
    print('*'*i)

*
**
***
****

In [11]:
#square using single for loop
for i in range(5):
    print('*'*5)

*****
*****
*****
*****
*****

In [17]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 5

* * * * *
*       *
*       *
*       *
* * * * *

In [25]:
text='mahesh'
r=len(text)
for i in range(r):
    for j in range(i+1):
        print(text[j],end=' ')
    print()

m
m a
m a h
m a h e
m a h e s
m a h e s h

In [36]:
# square with  single diagonal
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 5

* * * * *
* *     *
*   *   *
*     * *
* * * * *

In [38]:
# square with double diagonal
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 5

* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [40]:
n=int(input())
for i in range(n):
    for j in range(n):
        if j==0 or j==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 5

*       *
* *   * *
*   *   *
* *   * *
*       *

In [42]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or i==0 or i==n-1 or i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 5

* * * * *
  *   *
    *
  *   *
* * * * *

In [51]:
n=int(input())
for i in range(n):
    for j in range(n-i):
        print('*',end=' ')
    print()

 5

* * * * *
* * * *
* * *
* *
*

In [59]:
n=5
for i in range(1,2*n):
    s=i if i<=n else 2*n-i
    for j in range(s):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
n=5
for i in range(1,n+1):
    for s in range(n-i):
        print(' ', end=' ')
    for st in range(2*i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [17]:
n=10
for i in range(n):
    for s in range(n-i-1):
        print(' ', end='  ')
    num=1
    for j in range(i+1):
        print(f"{num} ",end='   ')
        num=num*(i-j)//(j+1)
    print()

                           1
                        1    1
                     1    2    1
                  1    3    3    1
               1    4    6    4    1
            1    5    10    10    5    1
         1    6    15    20    15    6    1
      1    7    21    35    35    21    7    1
   1    8    28    56    70    56    28    8    1
1    9    36    84    126    126    84    36    9    1

In [3]:
#floyds triangle
a=1
for i in range(1,5):
    for j in range(i):
        print(a,end=' ')
        a+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [4]:
n=5
for i in range(1,n+1):
    print(' '*(n-i), end=' ')
    for j in range(i):
        print('*', end='')
    print()

     *
    **
   ***
  ****
 *****

In [22]:
for i in range(1,n+1):
    print(' '*(n-i), end='')
    for j in range(i):
        print('* ', end='')
    print()
for i in range(n-1,0,-1):
    print(' '*(n-i), end='')
    for j in range(i):
        print('* ' , end='')
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *